.btn{
    width: 40%;
  height: 40px;
  margin-top: 500px;
  margin-left: 1px;
  background: linear-gradient(
    90deg,
    rgb(251, 255, 39) 0%,
    rgb(251, 255, 39) 100%
  );
  outline: none;
  border: none;
  color: rgb(12, 12, 12);
  font-size: 1rem;
  border-radius: 20px;
 align-content: center;
 box-shadow: 0 0 3px #080808;
}
.btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  .form-container {
    padding-top: 1px;
    margin: 10px auto;
    width: 1000px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  .ver{
    padding-left: 300px;
   
    margin-top: 200px;
  }
  .ver a {
    
    text-align: start;
    width: 80%;
    padding:90px ;
    padding-bottom: 400px;
    color: rgb(236, 185, 17);
  }